@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body,html{
	margin:0;
	padding:0;
	height:100%;
	font-family: 'Roboto', sans-serif;
	color:white;
	
}

.wrapper{
	border:0;
	padding:0;
	min-height:100%;
	width:100%;
	background: no-repeat ;
	background-position:center;
	background-size:cover;
	background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(images/city_2.jpg);
}

.clock{
	text-align:center;
	padding-top:300px;
	font-size:10em;
	
	font-weight:bold;
}

form[name ="getInput"]{
	text-align:center;
}

.helloName{
	height:60px;
	font-size:50px;
	line-height:1.5;
}

form[name="getInput"] input{	
	border:0;
	background-color:transparent;
	height:60px;
	font-size:50px;
	line-height:1.5;
	border-bottom:2px solid rgba(255,255,255,0.8);
	color:rgba(255,255,255,0.7);
	
}

form[name="getInput"] input:focus{
	outline:none;
}

form[name="getInput"] input[name="todo"]{
	margin-top:30px;
	font-size:20px;
	height:25px;
	line-height:1.5;
	list-style:none;
}

.hasDone{
	clear:both;
	height:20px;
	float:left;
	width:20px;	
	cursor:pointer;
}

.todoList{
	margin-top:50px;
	float: right;
    position: relative;
    left: -50%;
	width:auto;
	min-width:280px;
}

.todoList li p{
	float:left;
	margin:0px;
}

.todoList li{
    position: relative;
    left: 50%;
	margin-bottom:15px;
	height:20px;
	line-height:1;
	font-size:20px;
	overflow:visible;
	list-style:none;
}